/* .sign-up-form{
    width: 30vw;
    margin-bottom: 20px;
}
 .title{
    margin: 8px 0;
} 
#signup:hover{
    color: white;
    background-color: black;
} */
.signup-container{
    margin-bottom: 2rem;
}